 .form-head{ 
    display: flex; 
    flex-direction: column; 
    font-size: 20px;
    font-weight: 100px;
    padding: 17px 0px;
    text-align: center;
    font-family: "Montserrat";
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    background-color: #446DFF;
} 
.choose-content {
    display: flex;
    flex-direction: column;
    background-color:white;
    justify-content: start;
    padding-top: 50px;
}

.choose-type{
     display: flex;
    flex-direction:row;
    width: 48%;
    margin-left:27%;
}

.pragraph{
    font-family: "Montserrat";
    color: black;
    text-transform: capitalize;
    opacity: 1;
    margin-left: 2%;
    font-weight: 500;
}
.grid-container{

        position: relative;
        display: flex;
        flex-direction:column;
        width: 100% !important ;
        align-items: center;
        height: 33%;
}

.paper1 {
    margin: 10px;
    left: 385px;
    right: 808px;
    height: 137px;
    width: 173px;
    display: flex;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 1;
}

.paperContainer1:hover img{
    content : url('../images/assets/image1.svg');
}
.paper1:hover {
    background: #EDFDF9 0% 0% no-repeat padding-box;
    box-shadow: 0px #00000029;
    border: 1px solid #0EC098;
    color: #0EC098;
    font-size: 17px;
    text-transform: capitalize;
} 

.paper2{
    width: 173px;
    height: 137px;
    margin: 10px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 7px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paperContainer2 img{
    content: url('../images/assets/image2.svg');
}

.paper2:hover {
    background: #FFEEF0 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FD5160;
    color: #FD5160;
    font-size: 17px;
    text-transform: capitalize;
}

.paper3{
    width: 173px;
    height: 137px;
    margin: 10px;   
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 7px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paperContainer3 img{
    content: url("../images/assets/image3.svg");
}

.paper3:hover {
    background:#E8DDFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #7224FF;
    color: #7224FF;
    font-size: 17px;
    text-transform: capitalize;
}